@font-face {
  font-family: "1FTV Maglony";
  src: url("/Resources/fonts/1FTVMaglony-Regular.woff2") format("woff2"),
    url("/Resources/fonts/1FTVMaglony-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXp-p7K4KLg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f892ac;
  height: fit-content;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  margin: 2cm;
}
.title {
  border: none;
  margin-bottom: 17px;
  color: white;
  text-decoration: none;
  font-size: 3em;
  font-family: "1FTV Maglony";
  border-radius: 0.5em;
}
.btn {
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: center;
  gap: 20px;
}
a {
  text-decoration: none;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(91, 139, 244);
  box-shadow: none;
  border-radius: 0.5em;
  font-size: 25px;
  padding: 10px;
  font-family: "Montserrat";
  padding: 10px;
  box-shadow: rgb(60, 109, 214) 0 0 0.3em;
}
.connect {
  font-family: "1FTV Maglony";
  display: inline-block;
  color: white;
  font-size: 140%;
  margin-top: 1.5%;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: rgb(162, 226, 136);
  box-shadow: rgb(79, 165, 45) 0 0 0.3em;
  transition: ease 0.2s;
}
ion-icon {
  color: rgb(255, 79, 85);
  font-size: 100%;
}
img {
  position: fixed;
  height: 30%;
}
#anh1 {
  bottom: 0;
  right: 0;
}
#anh2 {
  bottom: 0;
  transform: scaleX(-1);
  left: 0;
}
.gau {
  margin-top: 15%;
  height: 30%;
  border-radius: 1em;
  border: solid white 0.1em;
  box-shadow: 0 0 0.2em rgb(241, 87, 87);
}
@media screen and (max-width: 828px) {
  .container {
    margin: 10%;
  }

  .title {
    font-size: 180%;
    padding: 0;
    margin-bottom: 2%;
  }
  a {
    font-size: 1em;
  }
  .gau {
    height: 20%;
  }
  #anh1 {
    height: 15%;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #anh2 {
    height: 15%;
    position: fixed;
    bottom: 0;
    left: 0s;
  }
}
@media screen and (min-width: 828px) {
  .container {
    margin: 10%;
  }

  .title {
    font-size: 300%;
    padding: 0;
    margin-bottom: 2%;
  }
  a {
    font-size: 2em;
  }
  a:active {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(162, 226, 136);
    box-shadow: rgb(79, 165, 45) 0 0 0.3em;
    transition: ease 0.2s;
  }

  .gau {
    height: 30%;
  }
  
}
